<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551580564742-mpc16n13v4ajok2sflq2615vn35brlo2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551580564742-mpc16n13v4ajok2sflq2615vn35brlo2</string>
	<key>API_KEY</key>
	<string>AIzaSyB5c-MdUp8gg8Vo2CF0C9TG2L6eP4VMg-s</string>
	<key>GCM_SENDER_ID</key>
	<string>551580564742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vadzim.team.Networking</string>
	<key>PROJECT_ID</key>
	<string>netwroking-21d44</string>
	<key>STORAGE_BUCKET</key>
	<string>netwroking-21d44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551580564742:ios:321925ef352db1ca787287</string>
</dict>
</plist>